# Backend
.env
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.egg-info/
backend/.venv/

# Frontend
frontend/.env.local
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/next-env.d.ts

# Docker
*.log

# OS
.DS_Store
Thumbs.db
